<div aria-labelledby="stappen-4688" class="stepnav"><h2 id="stappen-4688" class="visuallyhidden">Stappen</h2>
  <ol class="stepnav__items l-item-count-5">
    <li id="step_1" class="stepnav__step"><a href="http://beeldbank.gebruikercentraal.co.uk/stap/stap-1/"
                                             class="stepnav__link " title="bereid je voor ">
        <svg class="icon icon--stepnav" focusable="false">
          <use xmlns:xlink="http://www.w3.org/1999/xlink"
               xlink:href="{{sprite_url}}#doc-magnify"></use>
        </svg>
        <span class="stepnav__linktext">bereid je voor </span></a></li>
    <li id="step_2" class="stepnav__step"><a href="http://beeldbank.gebruikercentraal.co.uk/stap/stap-2/"
                                             class="stepnav__link " title="Ontwerp">
        <svg class="icon icon--stepnav" focusable="false">
          <use xmlns:xlink="http://www.w3.org/1999/xlink"
               xlink:href="{{sprite_url}}#doc-design"></use>
        </svg>
        <span class="stepnav__linktext">Ontwerp</span></a></li>
    <li id="step_3" class="stepnav__step"><a href="http://beeldbank.gebruikercentraal.co.uk/stap/stap-3/"
                                             class="stepnav__link is-active" title="Test">
        <svg class="icon icon--stepnav" focusable="false">
          <use xmlns:xlink="http://www.w3.org/1999/xlink"
               xlink:href="{{sprite_url}}#persons-ok"></use>
        </svg>
        <span class="stepnav__linktext">Test</span></a></li>
    <li id="step_4" class="stepnav__step"><a href="http://beeldbank.gebruikercentraal.co.uk/stap/stap-4/"
                                             class="stepnav__link " title="Pas aan">
        <svg class="icon icon--stepnav" focusable="false">
          <use xmlns:xlink="http://www.w3.org/1999/xlink"
               xlink:href="{{sprite_url}}#doc-checklist"></use>
        </svg>
        <span class="stepnav__linktext">Pas aan</span></a></li>
    <li id="step_5" class="stepnav__step"><a href="http://beeldbank.gebruikercentraal.co.uk/stap/stap-5/"
                                             class="stepnav__link " title="deel">
        <svg class="icon icon--stepnav" focusable="false">
          <use xmlns:xlink="http://www.w3.org/1999/xlink"
               xlink:href="{{sprite_url}}#doc-arrow"></use>
        </svg>
        <span class="stepnav__linktext">deel</span></a></li>
  </ol>>