<div aria-labelledby="stappen-4692" class="stepchart"><h2 id="stappen-4692" class="visuallyhidden">Stappen</h2>
  <div class="stepchart__bg"><img
        src="http://beeldbank.gebruikercentraal.co.uk/wp-content/plugins/ictu-gc-posttypes-brieven-beelden/images/stappenplan-bg-fullscreen.svg"
        alt=""></div>
  <ol class="stepchart__items" role="tablist">
    <li class="stepchart__item">
      <button class="stepchart__button btn btn--stepchart doc-magnify" aria-selected="false" role="tab"
              data-ol-has-click-handler="">
        <svg class="btn__icon icon icon--stepchart" focusable="false">
          <use xmlns:xlink="http://www.w3.org/1999/xlink"
               xlink:href="{{ sprite_url }}#doc-magnify"></use>
        </svg>
        <span class="btn__text">1. bereid je voor </span></button>
      <section class="stepchart__description" aria-hidden="true" aria-labelledby="stap-1-voorbereiding-1"
               role="tabpanel">
        <button type="button" class="btn btn--close" data-trigger="action-popover-close" data-ol-has-click-handler="">
          Sluit
        </button>
        <h3 id="stap-1-voorbereiding-1" class="stepchart__title">Stap 1: Voorbereiding</h3>
        <div class="description">
          <div class="page" title="Page 7">
            <div class="layoutArea">
              <div class="column">
                <p>In een goede, begrijpelijke brief zijn content en beeld onlosmakelijk met elkaar verbonden.</p>
              </div>
            </div>
          </div>
        </div>
        <a href="http://beeldbank.gebruikercentraal.co.uk/stap/stap-1/" class="cta">Lees meer <span
              class="visuallyhidden">over Stap 1: Voorbereiding</span></a></section>
    </li>
    <li class="stepchart__item">
      <button class="stepchart__button btn btn--stepchart doc-design" aria-selected="false" role="tab"
              data-ol-has-click-handler="">
        <svg class="btn__icon icon icon--stepchart" focusable="false">
          <use xmlns:xlink="http://www.w3.org/1999/xlink"
               xlink:href="{{sprite_url}}#doc-design"></use>
        </svg>
        <span class="btn__text">2. Ontwerp</span></button>
      <section class="stepchart__description" aria-hidden="true" aria-labelledby="stap-2-ontwerp-2" role="tabpanel">
        <button type="button" class="btn btn--close" data-trigger="action-popover-close" data-ol-has-click-handler="">
          Sluit
        </button>
        <h3 id="stap-2-ontwerp-2" class="stepchart__title">Stap 2: Ontwerp</h3>
        <div class="description"></div>
        <a href="http://beeldbank.gebruikercentraal.co.uk/stap/stap-2/" class="cta">Lees meer <span
              class="visuallyhidden">over Stap 2: Ontwerp</span></a></section>
    </li>
    <li class="stepchart__item">
      <button class="stepchart__button btn btn--stepchart persons-ok" aria-selected="false" role="tab"
              data-ol-has-click-handler="">
        <svg class="btn__icon icon icon--stepchart" focusable="false">
          <use xmlns:xlink="http://www.w3.org/1999/xlink"
               xlink:href="{{sprite_url}}#persons-ok"></use>
        </svg>
        <span class="btn__text">3. Test</span></button>
      <section class="stepchart__description" aria-hidden="true" aria-labelledby="stap-3-test-3" role="tabpanel">
        <button type="button" class="btn btn--close" data-trigger="action-popover-close" data-ol-has-click-handler="">
          Sluit
        </button>
        <h3 id="stap-3-test-3" class="stepchart__title">Stap 3: Test</h3>
        <div class="description"><p>Test je concept beeldbrief in een zo vroeg mogelijk stadium.</p>
        </div>
        <a href="http://beeldbank.gebruikercentraal.co.uk/stap/stap-3/" class="cta">Lees meer <span
              class="visuallyhidden">over Stap 3: Test</span></a></section>
    </li>
    <li class="stepchart__item">
      <button class="stepchart__button btn btn--stepchart doc-checklist" aria-selected="false" role="tab"
              data-ol-has-click-handler="">
        <svg class="btn__icon icon icon--stepchart" focusable="false">
          <use xmlns:xlink="http://www.w3.org/1999/xlink"
               xlink:href="{{sprite_url}}#doc-checklist"></use>
        </svg>
        <span class="btn__text">4. Pas aan</span></button>
      <section class="stepchart__description" aria-hidden="true" aria-labelledby="stap-4-pas-aan-4" role="tabpanel">
        <button type="button" class="btn btn--close" data-trigger="action-popover-close" data-ol-has-click-handler="">
          Sluit
        </button>
        <h3 id="stap-4-pas-aan-4" class="stepchart__title">Stap 4: Pas aan</h3>
        <div class="description"><p>Pas het ontwerp van brief aan naar aanleiding van het testen met échte
            gebruikers.</p>
        </div>
        <a href="http://beeldbank.gebruikercentraal.co.uk/stap/stap-4/" class="cta">Lees meer <span
              class="visuallyhidden">over Stap 4: Pas aan</span></a></section>
    </li>
    <li class="stepchart__item">
      <button class="stepchart__button btn btn--stepchart doc-arrow" aria-selected="false" role="tab"
              data-ol-has-click-handler="">
        <svg class="btn__icon icon icon--stepchart" focusable="false">
          <use xmlns:xlink="http://www.w3.org/1999/xlink"
               xlink:href="{{sprite_url}}#doc-arrow"></use>
        </svg>
        <span class="btn__text">5. deel</span></button>
      <section class="stepchart__description" aria-hidden="true" aria-labelledby="stap-5-deel-5" role="tabpanel">
        <button type="button" class="btn btn--close" data-trigger="action-popover-close" data-ol-has-click-handler="">
          Sluit
        </button>
        <h3 id="stap-5-deel-5" class="stepchart__title">Stap 5: Deel</h3>
        <div class="description"><p>Is de beeldbrief getest en aangepast? Deel de brief vervolgens.</p>
        </div>
        <a href="http://beeldbank.gebruikercentraal.co.uk/stap/stap-5/" class="cta">Lees meer <span
              class="visuallyhidden">over Stap 5: Deel</span></a></section>
    </li>
  </ol>
</div>