<div class="tipkaart tipkaart--{{ modifier|lower }}">
    <a class="tipkaart__link" class=tipkaart__link" title="Neem als bestuurder verant­woordelijkheid voor informatie­veiligheid" href="#">

        {% if toptip %}
            <span class="tipkaart__toptip">Is toptip</span>
        {% endif %}

        <span class="tipkaart__nummer">Tip {% if number %}{{ number }}{% else %}94{% endif %}</span>
        <h3 class="tipkaart__title">
            {% if card_title %}
                {{ card_title }}
            {% else %}
                Gebruik het juiste kanaal op het juiste moment
            {% endif %}</h3>

        <div class="tipkaart__categorie">
            <svg class="icon icon--medium icon--tipkaart" focusable="false">
                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                     xlink:href="/wp-content/themes/ictuwp-theme-gebruikercentraal/images/svg/optimaal-digitaal/defs/svg/sprite.defs.svg#{{ modifier|lower }}"></use>
            </svg>
            <span class="name">{{ modifier }}</span>
        </div>
    </a>
</div>
